.info-pill-text {
  position: absolute;
  top: 250px;
  left: calc(50vw - 450px - 50px);
  width: 900px;
  min-width: 500px;
  padding: 50px;
  font-size: 1.3em;
  z-index: 300;
  background-color: var(--primary);
  color: var(--color-text-primary);
  line-height: 1.5em;
  border: var(--border);

  br {
      margin: 0.5em;
  }
}