.text-wrapper {
  display: flex;
  position: absolute;
  top: 250px;
  width: 100%;
  justify-content: center;
}

.info-pill-text {
  width: 500px;
  background-color: green;
  padding: 50px;
  font-size: 1.3em;
  z-index: 300;
  background-color: var(--primary);
  color: var(--color-text-primary);
  line-height: 1.5em;
  border: var(--border);

  br {
      margin: 0.5em;
  }
}

@media (max-width: 900px) {
  .info-pill-text {
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }
}