.info-pill-text {
  position: absolute;
  top: 160px;
  left: 60px;
  width: 80%;
  min-width: 500px;
  max-width: 900px;
  padding: 50px;
  font-size: 1.3em;
  z-index: 300;
  background-color: var(--secondary);
  color: var(--color-text-primary);
  line-height: 1.5em;

  br {
      margin: 0.5em;
  }
}