.perfil-container {
    display: flex;
    justify-content: center;
    color: var(--color-text-primary);
}

.perfil-column {
    display: flex;
    justify-content: center;
    align-items: start;
    line-height: 1.5em;
    font-size: 1.2em;
    padding-top: 10em;

    .perfil-text-wrapper {
        width: 100%;
        max-width: 900px;
        cursor: ns-resize;
        padding: 0 5em 10em 5em;
    }

    img.text-ilustration {
        width: 100%;   
        padding: 2em 0; 
    }

    img.felix {
        width: 100%;
        min-width: 200px;
        object-fit: contain;
        max-width: 900px;
    }

    br {
        margin: 0.5em;
    }
}

@media (max-width: 1000px) {
    .perfil-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: inherit;
        padding: 0 1em 4em 1em;
        padding-bottom: 4em;

        img.felix {
            padding-top: 8em; 
        }
    
        .perfil-text-wrapper {
            padding-top: 4em; 
        }
    }
}
