.perfil-container {
    display: flex;
    color: var(--color-text-primary);
}

.perfil-column {
    margin-top: 6.5em;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 50%;
    line-height: 1.5em;
    font-size: 1.2em;
    height: calc(100vh - 15em);
    overflow: auto;

    .perfil-text-wrapper {
        cursor: ns-resize;
    }

    img {
        width: 100%;       
    }

    img.text-ilustration {
        padding: 4em 0;
    }

    img.felix {
        width: 80%;
    }

    br {
        margin: 0.5em;
    }
}

@media (max-width: 800px) {
    .perfil-column {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: inherit;
        padding: 0 1em 4em 1em;
        padding-bottom: 4em;
    }
    .perfil-container {
        flex-direction: column;
    }
}
