.pill {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -300px;
    background-color: var(--quaternary);
    color: var(--color-text-quaternary);
    font-size: 1.2em;
    /* font-weight: bold; */
    text-transform: uppercase;
    border-radius: 10em;
    white-space: nowrap;
    overflow: hidden;
    height: 1.8em;
    animation-duration: 2s;
    animation-name: pill1;
    animation-fill-mode: forwards;
    animation-delay: 1300ms;
  }
  
  @keyframes pill1 {
    0% {
      left: 0%;
      width: 60px;
      color: var(--quaternary);
      padding-left: 2em;
      padding-right: 2em;
    }
    40% {
      left: calc(50% - 130px - 2em);
      width: 60px;
      color: var(--quaternary);
      padding: 0;
    }
    85% {
      left: calc(50% - 130px - 2em);
      width: 260px;
      color: var(--quaternary);
      padding-left: 2em;
      padding-right: 2em;
    }
    95% {
      left: calc(50% - 130px - 2em);
      width: 260px;
      color: var(--quaternary);
      padding-left: 2em;
      padding-right: 2em;
    }
    100% {
      left: calc(50% - 130px - 2em);
      width: 260px;
      color: var(--color-text-quaternary);
      padding-left: 2em;
      padding-right: 2em;
    }
  }