
.navigation2D {
  position: absolute;
  right: 0;
  width: calc(3 * var(--menu-rythm));
  height: calc(3 * var(--menu-rythm));
  text-align: right;
  color: var(--color-text-primary);
  padding-right: calc(4.6 * var(--menu-rythm));;
}

.navigation2D__menu {
  z-index: 1000;
  background-color: var(--primary);
  position: absolute;
  top: 38px;
  right: 0;
  list-style-type: none;
  padding: 0;

  li {
    text-align: right;
    width: calc(20 * var(--menu-rythm));
    cursor: pointer;
    padding: calc(1.6 * var(--menu-rythm));
    color: var(--color-text-primary);
    font-size: calc(2 * var(--menu-rythm));

    p {
      padding-right: calc(1.6 * var(--menu-rythm));
    }
  }

  li:hover {
    background-color: black;
    color: var(--color-text-secondary);

    ul {
      display: block;
      position: absolute;
    }
  }
}

.navigation2D__menu.level_1 {
  display: none;
  top: 0;
  right: calc(23.2 * var(--menu-rythm));
  text-align: center;

  p {
    margin-left: calc(0 * var(--menu-rythm));
    width: calc(20 * var(--menu-rythm));
    text-align: left;
  }
}

.navigation2D__menu.level_1.middle {
  top: calc(9.5 * var(--menu-rythm));
}

.navigation2D__menu.level_1.bottom {
  top: calc(19.0 * var(--menu-rythm));
}

@media (max-width: 500px) {
  .navigation2D__menu {
    li {
      text-align: right;
      width: 150px;
      cursor: pointer;
      padding: 16px;
      color: var(--color-text-primary);
      font-size: 16px;

      p {
        padding-right: 16px;
      }
    }
  }

  .navigation2D__menu.level_1 {
    display: none;
    top: 0;
    right: 182px;
    text-align: center;
  
    p {
      margin-left: 10px;
      width: 170px;
      text-align: left;
    }
  }

  .navigation2D__menu.level_1.middle {
    top: 81px;
  }
  
  .navigation2D__menu.level_1.bottom {
    top: 164px;
  }

}

@media (max-width: 350px) {
  .navigation2D__menu {
    li {
      display: flex;
      flex-wrap: wrap;
      text-align: right;
      width: 100px;
      cursor: pointer;
      padding: 12px;
      color: var(--color-text-primary);
      font-size: 14px;

      p {
        padding-right: 10px;
      }
    }
  }

  .navigation2D__menu.level_1 {
    display: none;
    top: 0;
    right: 124px;
    text-align: center;
  
    p {
      margin-left: 10px;
      width: 170px;
      text-align: left;
    }
  }

  .navigation2D__menu.level_1.middle {
    top: 68px;
  }
  
  .navigation2D__menu.level_1.bottom {
    top: 136px;
  }

}