.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--color-text-secondary)
}

.contact-column {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: calc(100vh - 4em);
    overflow: auto;

    img {
        width: 50vh;  
        height: 50vh;  
        border-radius: 50%; 
    }
}

.contact-column:nth-child(1) {
    width: 35%;
}

.contact-column:nth-child(2) {
    width: 30%;
}

.contact-column:nth-child(3) {
    width: 35%;
}
