.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: var(--color-text-primary);
  font-size: 1.5em;
  padding-top: 100px;

  img {
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    padding-top: 50px;
  }
}