.video-videos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-videos-wrapper {
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 80%;

  h3 {
    align-self: self-start;
    font-size: 1.6em;
    left: 0;
    margin: 0;
    color: var(--color-text-primary)
  }
  
  p {
    font-size: 1.3em;
    font-weight: 400;
    padding-bottom: 1em;
    line-height: 1.3em;
    color: var(--color-text-primary-light)
  }
}

.video-videos-wrapper:last-child {
    padding-bottom: 20em;
}

.video-videos {
  width: 100%;
  cursor: pointer;
  padding-bottom: 5em;
}

@media only screen and (max-width: 600px) {
  .video-videos {
    width: 100%;
  }
}
