.infoPill {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 5em;
  left: -100px;
  width: 35px;
  background-color: var(--primary);
  color: var(--color-text-primary);
  border: var(--border);
  font-size: 1.4em;
  text-transform: uppercase;
  border-radius: 10em;
  white-space: nowrap;
  overflow: hidden;
  height: 1.8em;
  animation-duration: 2s;
  animation-name: infoPill;
  animation-fill-mode: forwards;
  animation-delay: 3000ms;
  font-weight: bold;
  cursor: pointer;
}

.infoPill__content {
  position: inherit;
  top: 3px;
  animation-duration: 2s;
  animation-name: infoPillContent;
  animation-fill-mode: forwards;
  animation-delay: 3000ms;
}

@media (max-width: 800px) {
  .infoPill {
    display: none;
  }
}

@keyframes infoPillContent {
  0% {
    top: 5px;
  }
  60% {
    top: 5px;
  }
  80% {
    top: 13px;
  }
  100% {
    top: 5px;
  }
}

@keyframes infoPill {
  0% {
    top: 5em;
    height: 1.8em;
    left: -100px;
    width: 35px;
  }
  60% {
    top: 5em;
    height: 1.8em;
    left: calc(50% - 400px);
    width: 35px;
  }
  80% {
    top: calc(5em - 10px);
    height: calc(1.8em + 20px);
    left: calc(50% - 410px);
    width: 55px;
  }
  100% {
    top: 5em;
    height: 1.8em;
    left: calc(50% - 400px);
    width: 35px;
  }
}
