header {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 0.8em;
  font-size: 1.6em;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-text-primary);

  p {
    margin: 0;
  }
}
