header {
  display: flex;
  justify-content: space-between;
  background-color: var(--backgroud-dark-light);
  padding: 0.8em;
  font-size: 1.6em;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-text-ternary);
  border-bottom: var(--border);

  .header-name {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 5em;
    height: 25px;

    img {
      height: 30px;
      padding-right: 1em;
    }
  }
}
