header {
  display: flex;
  justify-content: space-between;
  background-color: var(--backgroud-dark-light);
  padding: 0.8em;
  font-size: 1.6em;
  font-weight: 500;
  cursor: pointer;
  color: var(--color-text-ternary);
  border-bottom: 1px solid var(--secondary);

  p {
    margin: 0;
    padding-left: 5em;
  }
}
