body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: orange;
}

.grid-container {
  padding: 2em;
  display: grid;
  width: 100%;
  gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  background-color: green;
}

.example {
  height: 100px;
  width: 100%;
  background-color: red;
  border-radius: 5px;
}

img {
  width: 100%;
}
